@import "tailwindcss";



body{
    font-family: 'Montserrat', sans-serif;
}
.title{
    font-family: 'Exo 2', sans-serif;
}
.animate-fadeIn{
    transition: opacity 0.2s ease, transform 0.3s ease;
}
.animate-fadeIn-text{
    transition-delay: 0.5s;
    transition: opacity 0.4s ease, transform 0.4s ease;
}