@import "tailwindcss";

@theme{
    --font-exo2: "Exo 2", "sans-serif";
    --font-montserrat: 'Montserrat', sans-serif;
    --color-primary: #2386C8;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.title {
    font-family: 'Exo 2', sans-serif;
}

.animate-fadeIn {
    transition: opacity 0.2s ease, transform 0.3s ease;
}

.animate-fadeIn-text {
    transition-delay: 0.5s;
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 10px !important;
    background: rgb(255, 255, 255) !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background-color: #fff;
    outline: 5px solid #ffffff5d;
}

/* Style 9
   ----------------------------- */
.section-title h1 {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    color: #222;
    letter-spacing: 1px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
}

.section-title h1 span {
    margin-top: 5px;
    font-size: 15px;
    color: #444;
    word-spacing: 1px;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.section-title h1 span:after,
.section-title h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
    background-color: #f8f8f8;
}
.section-title .testi-title span:after,
.section-title .testi-title span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
    background-color: #f8f8f800;
}


/***********************
* about section
***********************/
.play-icon{
    animation-name: ping;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes ping{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.custom-btn {
  padding: 10px 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  color: #2386C8;
}

/**** BTN No. 14 ****/
.btn-14 {
  border: 2px solid #2386C8;
  z-index: 1;
}
.btn-14:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: #2386C8;
  transition: all 0.3s ease;
}
.btn-14:hover {
  color: #fff;
}
.btn-14:hover:after {
  left: 0;
  width: 100%;
}
.btn-14:active {
  top: 2px;
}

/***********************
*  featured section
***********************/

.section-title h1 .featured:after,
.section-title h1 .featured:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    height: 5px;
    background-color: #f8f8f800;
}

.swiper-slide-active .featured-content{
    animation-name: featured;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes featured{
    0%{
        transform: translateY(500px);
    }
    100%{
        transform: translateY(0px);
    }
}


/***********************
*  explore section
***********************/

.swiper-slide-visible .image-card{
    animation: zoomIn 10s linear infinite;
}


@keyframes zoomIn{
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1.2);
    }
    75%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

/***********************
*  sister concern section
***********************/

.service:hover .service-icon{
    transform: rotate(45deg) !important;
}